.search-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 80vh;
 overflow-y: scroll;
}
.search-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 350px;
  margin: 20px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.search-items img {
  height: 350px;
  width: 350px;
  object-fit: contain;
}
.item-enlarge:hover {
  transform: scale(1.1);
}
.item-enlarge {
  transition: all 1s;
}

