.main-page {
  height: 100vh;
  width: 100%;
  background-image: url("background.png");
  object-fit: fill;
  /* background-repeat: no-repeat; */
}
.home-page {
  width: 100%;
  height: auto;
  background-image: url("background.png");
  /* background-color: blue; */
  object-fit: fill;
  /* background-repeat: no-repeat; */
}
